# virtual environment
/venv/

# IDE files
.idea/

# environment file
# see .env.example for details
/metroclima/.env

# database
/metroclima/*.sqlite3

# pycache
/metroclima/__pycache__/

# SMOG files
/metroclima/metroclima.sock
/metroclima/supervisor.log
