{% extends 'dashboard/ds_base.html' %}
{% load static %}


{% block content %}
    <h2 class="display-6">Folder transfer</h2>
    <br>

    <a href="{% url 'ds_upload' %}" style="text-decoration:None;color:black">
                  <i class="bi bi-arrow-return-left me-1"></i>Return</a>
    <br><br>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        {{ form.station.label_tag }}  <!-- Label do campo Station -->
        {{ form.station }}  <!-- Droplist do campo Station -->
      </div>
      <div class="mb-3">
        {{ form.files.label_tag }}  <!-- Label do campo de arquivos -->
        {{ form.files }}  <!-- Campo de seleção de múltiplos arquivos -->
      </div>
      <button type="submit" class="btn btn-sm btn-primary">Enviar Arquivos</button>
    </form>

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message|safe }}</li>
        {% endfor %}
      </ul>
    {% endif %}

{% endblock %}