{% extends 'dashboard/ds_base.html' %}
{% load static %}


{% block content %}

  <h2 class="display-6">{{ station.name }} Station</h2>
  <br>
  <h4 class="mb-3">Measurement Campaigns</h4>

    {% if station.campaign_set.all %}
    {% for campaign in station.campaign_set.all %}
    {% if campaign.raw_data_path %}
    <ul>
      <li>
            {{ campaign.name }}
        <ul>
          <li>
            <a href="{% url 'ds_raw' campaign.slug %}" style="text-decoration:None;color:black">
              Data L0
            </a>
          </li>
          <li>
            <a href="{% url 'ds_raw_24h' campaign.slug %}" style="text-decoration:None;color:black">
              Data L0 24h
            </a>
          </li>
        </ul>
      </li>
    </ul>
    {% else %}
    <ul style="list-style-type:none;font-size:13px">
      <li>
          <i class="bi bi-exclamation-lg"></i>
          No data path defined for {{ campaign.name }} campaign
      </li>
    </ul>
    {% endif %}
    {% endfor %}

    {% else %}
    <ul style="list-style-type:none;font-size:13px">
      <li>
          <i class="bi bi-exclamation-lg"></i>
          No campaigns available
      </li>
    </ul>
    {% endif %}


{% endblock %}