{% extends 'base.html' %}

{% block content %}

<div class="d-flex flex-row justify-content-center align-items-center mb-0" style="height:75vh">
  {% if request.user.is_authenticated %}
  <div>
    <h1 class="display-5 mb-4">Change password</h1>
    <form method='POST'>{% csrf_token %}
      <div>
        <input type="password" class="form-control mb-3" name="old_password" placeholder="old password">
        <input type="password" class="form-control mb-3" name="new_password1" placeholder="new password">
        <input type="password" class="form-control" name="new_password2" placeholder="confirm password">
      </div>
      {% if form.errors %}
        <p style="color:red;font-size:12px">
          It's not a valid password, please try again.
        </p>
      {% else %}
        <p style="color:white;font-size:12px">.</p>
      {% endif %}
      <button class="btn btn-dark me-2 btn-md mb-4" type='submit'>Submit</button>
    </form>
  {% endif %}
  <ul>
    <li>Password can’t be too similar to your personal information.</li>
    <li>Password must contain at least 8 characters.</li>
    <li>Password can’t be a commonly used password.</li>
    <li>Password can’t be entirely numeric.</li>
  </ul>
  </div>
</div>

{% endblock %}