{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="container col-lg-9">

    <h2 class="display-5 mt-5">Metroclima Project</h2>

    <h3 class="display-6 mt-4">About</h3>
    <div class="lead" style="font-size:18px">
      <p>
        Urban areas are expanding in all parts of the world, and are recognized as important
        atmospheric sources of greenhouse gases (GHG) and short-lived climate pollutants
        (SLCP). The SLCP refers to the gases and particulates that are also responsible for
        global warming not caused by CO2 and have an atmospheric lifetime of less than
        20 years. The emissions, fate, and atmospheric concentrations of these species will be
        affected by climate change (expected modification of temperature and humidity),
        and specifically by the atmospheric temperature, and by extreme hydrometeorological
        events.
      </p>
      <p>
        In December 2015, the Conference of the Parties at the Framework Convention on
        Climate Change of United Nations (COP21) recommended measures to keep the
        increase of the mean temperature of the Earth well below 2°C above pre-industrial
        levels. The adopted texts provided two statements that represent the motivation of the
        proposed research:
      </p>
      <p><i>
        “Recognizing that climate change represents an urgent and potentially irreversible
        threat to human societies and the planet and thus requires the widest possible
        cooperation by all countries, and their participation in an effective and appropriate
        international response, with a view to accelerating the reduction of global greenhouse
        gas emissions”
      </i></p>
      <p><i>
        “Also recognizing that deep reductions in global emissions will be required in order to
        achieve the ultimate objective of the Convention and emphasizing the need for urgency
        in addressing climate change”
      </i></p>
      <p>
        A drastic reduction of greenhouse gas and other climate pollutants emissions is required
        to attain the objectives highlighted by the COP21 agreement. The impact on the climate of
        the megacities and urban conglomerates is well established since a large fraction of
        emissions takes place in these populated areas. In fact, urban areas constitute also a
        major source of air pollutants (related to energy production and consumption, transport,
        and waste disposal). One of the challenges is to find win-win strategies by which one
        improves air quality while limiting anthropogenic climate forcing.
      </p>
      <p>
        Moreover, the world is becoming increasingly urban as more than 50% of the
        population worldwide lives in cities. This proportion reaches almost 80% in Latin
        America. São Paulo is the most important megacity in South America and can,
        therefore, be considered as a laboratory for an integrated assessment of
        the impact on the atmosphere of the sources of GHG (CO2, N2O, CH4) and of other
        radiative active species, the SLCP. Here, we will focus our attention on the black
        carbon, methane, and tropospheric ozone, constituents of the SLCP and on the feedback
        of the climate change on air quality. To evaluate the climate impacts of the São Paulo
        Megacity emissions, the first step is to assess the sources of GHG and SLCP.
      </p>
      <p>
        All current information on GHG emissions is based on bottom-up estimates performed
        from the extrapolation of limited flux observations and economic information. These
        estimated emissions have never been verified or reconciled with surface observations of
        species concentrations and/or with remote sensing atmospheric data. Therefore,
        the overall objective of the proposed project is to examine the role of the São Paulo
        Megacity emissions as drivers for regional air quality degradation and climate
        change. The project aims to integrate multi-platform measurements and modeling tools
        to describe the atmospheric behavior of the GHG and SLCP, and the effects of climate
        change on the air quality in the Metropolitan Area of São Paulo.
      </p>
      <p>
        This objective will be achieved through 6 specific goals:
      </p>
      <p>
        <ul>
          <li>
            Development of an integrated framework to estimate the sources and sinks of GHG
            and SLCP in the metropolitan region of São Paulo and neighborhood (with regard to the
            sinks);
          </li>
          <li>
            Implementation of a network for GHG and SLCP continuous measurements:
            surface, fluxes, and integrated atmospheric vertical columns;
          </li>
          <li>
            Developing integrated tools of Chemistry Transport Models to describe the air
            quality and the GHG emissions, transport, and fate;
          </li>
          <li>
            Evaluation of the impacts of the GHG and SLCP emissions on regional climate;
          </li>
          <li>
            Assessment of the impact of climate change feedback on air quality in the
            Metropolitan Area of São Paulo;
          </li>
          <li>
            Dissemination of the results to governmental institutions and to a broader community.
          </li>
        </ul>
      </p>
      <p>
        An accurate characterization of pollutant emissions and quantification of their
        impacts on the climate are important challenges that have to be addressed and will
        complement ongoing initiatives on other urban areas all over the world. The emission
        inventory will be conciliated with surface measurements and satellite data, the
        atmospheric modeling will be performed with Chemistry Transport Models from local
        to regional scale, and the evaluation of the future climate will be conciliated with the
        IPCC AR5 proposed scenarios.
      </p>
    </div>

    <h3 class="display-6 mt-4">Data policy</h3>
    <div class="lead" style="font-size:18px" id="datapolicy">
      <p>
        The availability of the data in this website does not constitute publication of the data
        or permission to use the data, or information contained in it, for publication or any
        commercial use. We reserve the right to make corrections to the data based on scientific
        grounds, e.g., recalibration of standard gases or discovery of operational issues not
        known at the time of the release. To discuss publication, presentation, and collaboration,
        please contact the <a href="mailto:maria.andrade@iag.usp.br " style="text-decoration:none">
        Metroclima Project</a> describing your plans for use.
      </p>
    </div>

    <h3 class="display-6 mt-4">Sponsor</h3>
    <div class="lead mb-5" style="font-size:18px">
      <p>
        Grant #2016/18438-0, São Paulo Research Foundation (FAPESP).
        The opinions, hypotheses and conclusions or recommendations
        expressed in this material are the responsibility of the author(s)
        and do not necessarily reflect the vision of FAPESP
      </p>
    </div>

  </div>
</div>

{% endblock %}