{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="container col-lg-9 mb-5">
    <h2 class="display-5 mt-5 mb-4">Stations</h2>
    <table class="table mb-0 align-middle">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for station in stations %}
        <tr>
          <td>
            {% if station.picture %}
            <a href="/stations/{{ station.slug }}">
              <img src="{{ station.picture.url }}" alt="{{ station.name }}" style="width:90px;">
            </a>
            {% else %}
            <span>no picture</span>
            {% endif %}
          </td>
          <td>
            <p class="lead mb-0" style="font-size:18px"><b>{{ station.name }}</b></p>
            <p class="lead mb-0" style="font-size:16px">{{ station.description }}</p>
            <a href="/stations/{{ station.slug }}" style="font-size:12px;text-decoration:none;vertical-align:top">
              more info</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
      <tfoot>
        <tr></tr>
      </tfoot>
    </table>
  </div>
</div>

{% endblock %}