{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">

  <!-- Title and overview -->
  <div class="container col-lg-9">
    <h2 class="display-5 mt-5">{{ station.name }} Station</h2>
    <h3 class="display-6 mt-4">Overview</h3>
    <div class="lead" style="font-size:18px">
      <p>{{ station.description }}</p>
    </div>

    {% if station.video %}
    <div class="row justify-content-center">
      <div class="col-md-9">
        <video width="100%" controls autoplay muted>
          <source src="{{ station.video.url }}" type="video/mp4">
        </video>
      </div>
    </div>
    {% endif %}
  </div>

  <!-- Information -->
  <div class="container col-lg-9">
    <h3 class="display-6 mt-4">Information</h3>
    <div class="row justify-content-center mb-3">
      <div class="col-md-9 text-center">
        <table class="table">
          <tbody>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td><b>Latitude</b></td>
              <td>{{ station.latitude }}</td>
            </tr>
            <tr>
              <td><b>Longitude</b></td>
              <td>{{ station.longitude }}</td>
            </tr>
            <tr>
              <td><b>Elevation</b></td>
              <td>{{ station.elevation }} m</td>
            </tr>
            {% if station.inlet_elevation %}
            <tr>
              <td><b>Inlet elevation</b></td>
              <td>{{ station.inlet_elevation }} m agl</td>
            </tr>
            {% endif %}
            {% if station.instruments.all %}
            <tr>
              <td><br></td>
              <td><br></td>
            </tr>
            <tr>
              <td><b>Instrument</b></td>
              <td><b>Measuring</b></td>
            </tr>
            {% for instrument in station.instruments.all %}
            <tr>
              <td>{{ instrument }}</td>
              <td>{{ instrument.measuring }}</td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Images -->
  {% if station.image_set.all %}
  <div class="container col-lg-9">
    <h3 class="display-6 mt-4 mb-4">Images</h3>
    {% for image in station.image_set.all %}
      {% if image.panoramic %}
      <div class="row justify-content-center">
        <div class="col-md-9">
          <img class="img-fluid mb-3" style="width:100%" src="{{ image }}" alt="{{ image.alt }}">
        </div>
      </div>
      {% endif %}
    {% endfor %}
    <div class="row justify-content-center mb-5">
      {% for image in station.image_set.all %}
        {% if not image.panoramic %}
        <div class="col-md-3">
          <img class="img-fluid mb-3" style="width:100%"
               src="{{ image }}" alt="{{ image.alt }}">
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <!-- Data overview -->
  <div class="container col-lg-9">
    <h3 class="display-6 mt-4 mb-4">Data overview
      <a class="btn btn-dark btn-sm" href="/about#datapolicy" style="float:right">
          Data policy
      </a>
    </h3>
    {% for item in campaign_graphs %}
    <div class="lead" style="font-size:18px">
      <p>{{ item.campaign.uncalibrated_data_description }}
      </p>
      <!-- Graphs -->
        {{ item.div | safe}}
        {{ item.script | safe}}
      <!-- Graphs END -->
      <br><br>
    </div>
    {% empty %}
    <p>Data will be available soon.</p>
    {% endfor %}
  </div>

</div>

{% endblock %}
